* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 70px;
  margin-bottom: 39px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 999;
}

.menu-button {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  width: 20px;
  height: 17px;
  border: none;
  margin-right: 28px;
  cursor: pointer;
}

.menu-line {
  display: block;
  background-color: #1f2022;
  width: 20px;
  height: 3px;
  border-radius: 20px;
}

.header-logo {
  padding-right: 59px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ebebeb;
  border-radius: 22px;
  padding-right: 17px;
  max-width: 830px;
  width: 50%;
  margin-right: 40px;
}

.input-search {
  background-color: transparent;
  width: 100%;
  border: none;
  padding: 12px 23px;
}

.button-search {
  padding: 0;
  width: 19px;
  height: 19px;
  border: none;
  background-color: transparent;
}

.icon-search {
  fill: #000;
  cursor: pointer;
}

.icons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.icons-link {
  text-decoration: none;
  opacity: 0.24;
}

.icons-link:hover {
  opacity: 0.7;
}

.icons-link:not(:last-child) {
  margin-right: 50px;
}

.user {
  margin-left: 45px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sidebar {
  position: fixed;
  width: 220px;
  left: 0;
  top: 123px;
  height: calc(100% - 114px);
  overflow: auto;
  padding-left: 30px;
  background: #fff;
  z-index: 999;
}

.nav-menu {
  margin: 0;
  padding-top: 0;
  padding-bottom: 60px;
  padding-left: 0;
  list-style-type: none;
}

.nav-item:not(:last-child) {
  margin-bottom: 20px;
}

.nav-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #898989;
}

.nav-link:hover {
  color: #ff0000;
}

.nav-item .icon {
  fill: #898989;
}

.nav-item:hover .icon {
  fill: #ff0000;
}

.nav-text {
  margin-left: 13px;
}

.nav-image {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.nav-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 30px;
}

.nav-menu--last {
  padding-bottom: 40px;
}

.content {
  width: 100%;
  margin-top: 123px;
  padding-left: 250px;
  padding-right: 70px;
}

.channel {
  position: relative;
  margin-bottom: 49px;
}

.channel-title {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #19202c;
  font-weight: bold;
  font-size: 26px;
  line-height: 33px;
  margin-bottom: 30px;
}

.channel-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.channel-text {
  margin-left: 20px;
}

.video-thumb {
  width: 100%;
  height: 150px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
}

.thumbnail {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.video-duration {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  font-size: 14px;
  line-height: 18px;
  padding: 3px 9px;
}

.video-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #19202c;
  margin-top: 10px;
  margin-bottom: 4px;
}

.video-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  line-height: 16px;
  color: #c2c2c2;
}

.video-counter {
  display: flex;
}

.video-views {
  margin-right: 5px;
}

.video-views::after {
  content: "";
  width: 2px;
  height: 2px;
  background-color: #c2c2c2;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.channel-button {
  cursor: pointer;
}

.slider-buttons {
  position: absolute;
  top: 11px;
  right: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 66px;
}

.recommended-text {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 0;
}

.recommended-video-thumb {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 14px;
  position: relative;
}

.recommended-thumbnail {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.channel-notice {
  font-size: 16px;
  line-height: 20px;
  color: #c2c2c2;
}

.button-subscribe {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  background: #ff0000;
  color: #ffffff;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  margin-right: 250px;
}

.channel-with-notice {
  margin: 0;
}

.channel-with-notice-text {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 19px;
}

.channel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-bottom: 30px;
}

.mobile-sidebar {
  display: none;
}

.mobile-search {
  display: none;
}

@media (max-width: 860px) {
  .channel-notice {
    display: none;
  }

  .button-subscribe {
    margin-right: 200px;
  }

  .icons {
    display: none;
  }

  .user {
    margin-left: auto;
  }
}

@media (max-width: 640px) {
  .swiper-slide {
    margin-bottom: 40px;
  }

  .swiper-wrapper {
    display: flex;
    flex-direction: column;
  }

  .video-thumb {
    height: 300px;
  }

  .thumbnail {
    height: 100%;
  }

  .slider-buttons {
    display: none;
  }

  .button-subscribe {
    margin-right: 32px;
  }

  .mobile-search {
    display: block;
    margin-left: auto;
  }

  .input-group {
    position: fixed;
    top: -100px;
    left: 0;
    opacity: 0;
    width: 68%;
    margin-left: 25px;
    transition: top 0.2s;
  }

  .input-group.is-open {
    opacity: 1;
    top: 20px;
  }

  .user {
    margin-left: 20px;
  }

  .menu-button {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .content {
    padding-left: 32px;
    padding-right: 0px;
  }

  .mobile-sidebar {
    display: block;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
  }

  .mobile-sidebar .nav-link {
    display: flex;
    flex-direction: column;
  }

  .mobile-sidebar .nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 13px;
    padding-bottom: 11px;
    border-top: solid 1px #f2f2f2;
  }

  .mobile-sidebar .nav-text {
    font-size: 10px;
    line-height: 13px;
    margin-left: 0;
  }

  .mobile-sidebar .nav-item {
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
